
.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  
  .botao{
  position: absolute;
  right:    100px;
  bottom:   0;
  }
  
  .selected{
    font-weight: bold;
    text-decoration: none;
  
  }
  
  a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }